<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.progect.iwish"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="iWish_Activity.TutorialActivity"
            android:label="Tutorial" />
        <activity 
            android:name=".AvatarActivity">
        </activity>
        <activity 
            android:name=".CalendarActivity">
        </activity>
        <activity 
            android:name=".Challengectivity">
        </activity>
        <activity 
            android:name=".CongratulationActivity">
        </activity>
        <activity 
            android:name=".ForgotPswActivity">
        </activity>
        <activity 
            android:name=".FrinedsActivity">
        </activity>
        <activity 
            android:name=".GenderActivity">
        </activity>
        <activity 
            android:name=".GoalActivity">
        </activity>
        <activity 
            android:name=".HeightActivity">
        </activity>
        <activity 
            android:name=".iWishActivity">
        </activity>
        <activity 
            android:name=".LoginRegActivity">
        </activity>
        <activity 
            android:name=".NewWishActivity">
        </activity>
         <activity 
            android:name=".PopUpADV1Activity">
        </activity>
        <activity 
            android:name=".PopUpADV2Activity">
        </activity>
        <activity 
            android:name=".PopUpADV3Activity">
        </activity>
        <activity 
            android:name=".PopUpBadgeVinta1Activity">
        </activity>
        <activity 
            android:name=".PopUpBadgeVinta2Activity">
        </activity>
        <activity 
            android:name=".PopUpBadgeVinta3Activity">
        </activity>
        <activity 
            android:name=".PopUpCalendarioActivity">
        </activity>
        <activity 
            android:name=".PopUpComplimentiActivity">
        </activity>
         <activity 
            android:name=".PopUpGenioActivity">
        </activity>
        <activity 
            android:name=".PopUpGrandeActivity">
        </activity>
        <activity 
            android:name=".PopUpSunActivity">
        </activity>
        <activity 
            android:name=".PopUpTemporaleActivity">
        </activity>
         <activity 
            android:name=".PopUpTimeActivity">
        </activity>
        <activity 
            android:name=".RegisterActivity">
        </activity>
        <activity 
            android:name=".SplashActivity">
        </activity>
        <activity 
            android:name=".StartingActivity">
        </activity>
        <activity 
            android:name=".TheEndActivity">
        </activity>
        <activity 
            android:name=".WantToBeActivity">
        </activity>
        <activity 
            android:name=".WantToDoActivity">
        </activity>
        <activity 
            android:name=".WeightActivity">
        </activity>
    </application>

</manifest>
