<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.progect.iwish"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />
    
    <permission android:name="android.permission.READ_PHONE_STATE"></permission>
    <permission android:name="android.permission.ACCESS_NETWORK_STATE"></permission>
    <permission android:name="android.permission.ACCESS_WIFI_STATE"></permission>
    <permission android:name="android.permission.INTERNET"></permission>
    <permission android:name="android.permission.BLUETOOTH"></permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <permission android:name="android.permission.BLUETOOTH_ADMIN"></permission>
    <permission android:name="android.permission.DELETE_CACHE_FILES"></permission>
    <permission android:name="android.permission.HARDWARE_TEST"></permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
 		android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
 		android:largeHeap="true"
      >
             
        <activity 
            android:name="iWish_Activity.AvatarActivity"
            android:screenOrientation="portrait">
        
          <intent-filter>
                <action android:name="iWish_Activity.AVATAR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity 
            android:name="iWish_Activity.BluetoothActivity"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="iWish_Activity.CalendarActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.ChallengeActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.CongratulationActivity"
            android:screenOrientation="portrait">
                 
		<intent-filter>
                <action android:name="iWish_Activity.CONGRATULATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>

        <activity 
            android:name="iWish_Activity.ForgotPswActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.FriendsActivity"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="iWish_Activity.Friends2Activity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.GenderActivity"
            android:screenOrientation="portrait">

		<intent-filter>
                <action android:name="iWish_Activity.GENDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>

        <activity 
            android:name="iWish_Activity.GoalActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.HeightActivity"
            android:screenOrientation="portrait">
        
		<intent-filter>
                <action android:name="iWish_Activity.HEIGHT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity 
            android:name="iWish_Activity.HeightChangeActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.iWishActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.LoginRegActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.NewWishActivity"
            android:screenOrientation="portrait"/>

         <activity 
            android:name="iWish_Activity.PopUpADV1Activity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.PopUpADV2Activity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.PopUpADV3Activity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.PopUpBadgeVinta1Activity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.PopUpBadgeVinta2Activity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.PopUpBadgeVinta3Activity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.PopUpCalendarioActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.PopUpComplimentiActivity"
            android:screenOrientation="portrait"/>

         <activity 
            android:name="iWish_Activity.PopUpGenioActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.PopUpGrandeActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.PopUpSunActivity"
            android:screenOrientation="portrait"/>
            
       <activity 
            android:name="iWish_Activity.PopUpTemporaleActivity"
            android:screenOrientation="portrait"/>

         <activity 
            android:name="iWish_Activity.PopUpOraActivity"
            android:screenOrientation="portrait"/>
            
       <activity 
            android:name="iWish_Activity.ProfileActivity"
            android:screenOrientation="portrait"/>
       
       <activity 
            android:name="iWish_Activity.ProgressActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name="iWish_Activity.RegisterActivity"
            android:screenOrientation="portrait">
        
           <intent-filter>
                <action android:name="iWish_Activity.REGISTER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        
                </activity>

        <activity 
            android:name="iWish_Activity.SplashActivity"
            android:screenOrientation="portrait">

              <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter> 
            
        </activity>
        
        <activity 
            android:name="iWish_Activity.StartingActivity"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name="iWish_Activity.StatisticsActivity"
            android:screenOrientation="portrait"/>      
               
        <activity
            android:name="iWish_Activity.TutorialActivity"
        	android:screenOrientation="portrait"/>  
        	
        <activity 
            android:name="iWish_Activity.TheEndActivity"
            android:screenOrientation="portrait"/>  >
        
        <activity 
            android:name="iWish_Activity.WantToBeActivity"
            android:screenOrientation="portrait"/>  
            
        <activity 
            android:name="iWish_Activity.WantToDoActivity"
        	android:screenOrientation="portrait"/>  
        	
        <activity 
            android:name="iWish_Activity.WeightActivity"
        	android:screenOrientation="portrait"> 
        	        
		<intent-filter>
                <action android:name="iWish_Activity.WEIGHT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity> 
        	
         <activity 
            android:name="iWish_Activity.WeightChangeActivity"
            android:screenOrientation="portrait"/>    
             
          <activity 
            android:name="iWish_Activity.WishListActivity"
            android:screenOrientation="portrait"/>         
               
        <activity
            android:name="iWish_Activity.WorkingActivity"
            android:screenOrientation="portrait"/>  
        
    </application>

</manifest>

